
#servhogar { 
    color:white;
  background-color: #000500; 
  font-size: 180%;
}



#planes { 
    color:black;
  background-color: #ccd3cc; 
  font-size: 100%;
}

#valores { 
    color:white;
    background-color: #000500; 
  font-size: 150%;
}

#servempresa { 
    color:white;
  background-color: #c55e1a; 
  font-size: 180%;
}
