<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de Inicio Solemne 3</title>

    <!-- style-->
  <!--   <link href="css/condiciones.css" rel="stylesheet"> -->
  <!--  <link href="css/index.css" rel="stylesheet"> -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
     rel="stylesheet" type="text/css" />
  <!-- fin style-->

 


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"></script>


  <script>
 

  </script>







  <!-- NAV ---->


<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button>

 <div class="collapse navbar-collapse" id="navbarSupportedContent">
   <ul class="navbar-nav mr-auto">
     <li class="nav-item active">
       <a class="nav-link" href="/">Home

<svg class="bi bi-house-door" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
 <path fill-rule="evenodd" d="M7.646 1.146a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5H9.5a.5.5 0 0 1-.5-.5v-4H7v4a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6zM2.5 7.707V14H6v-4a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4h3.5V7.707L8 2.207l-5.5 5.5z"/>
 <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
</svg>


        <span class="sr-only">(current)</span></a>
     </li>
     
     <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Planes
       </a>
       <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="PlanHogar/">Plan Hogar</a>
        <a class="dropdown-item" href="PlanEmpresa/">Plan Empresa</a>
        <a class="dropdown-item" href="admin/">Panel Django</a>
        
       </div>
     </li>
     
   </ul>
    


</nav>

 <!--FIN  NAV ---->
 <style>
  #loading {
    display: none;
  }
</style>

</head>


<body>
  <br>
  <br>
  <br>

 <div class="container">

 <!-- <button id="carga_ajax">Carga contenido</button> -->
  <button id="json_get" class="btn btn-primary">Listado en  Json</button> 
 <!-- <button id="json_post">Request JSON POST</button> -->
  <div id="mensaje"></div>
  <div id="loading"> Obteniendo datos...</div>


 </div>
  <script>
var boton = document.getElementById('json_get');
 boton.addEventListener('click', function() {
   loading.style.display = 'block';
   axios.get('http://127.0.0.1:8000/api/clientes/', {
     responseType: 'json'
     
   })
     .then(function(res) {
       if(res.status==200) {
         console.log(res.data);
         mensaje.innerHTML = res.data.title;
       }
       console.log(res);
     })
     .catch(function(err) {
       console.log(err);
     })
     .then(function() {
       loading.style.display = 'none';
     });
 });
  </script>


  <form action="" name="json_post" id="json_post">
       

       <div class="container">
      
        <div class="col">
          <label for=""></label>
          <input type="text" class="form-control" required id="txtnombre" name="nombre" placeholder="Nombre">
        </div>

        <div class="col">
          <label for=""></label>
          <input type="text" class="form-control" required id="txtapellidop" name="apellidoP"
           placeholder="Apellido Paterno">

          </div>

          <div class="col">
            <label for=""></label>
            <input type="text" class="form-control" required id="txtapellidom" name="apellidoM"
             placeholder="Apellido Materno">  
            </div>

            <div class="col">
              <label for=""></label>
              <input type="email" class="form-control" required id="txtemail" name="email"
               placeholder="Su email">  
              </div>

              <div class="col">
                <label for=""></label>
                <input type="tel" class="form-control" required id="txtfono" name="telefono"
                 placeholder="Su Telefono">  
                </div>
      
        <div class="col">
          <br>
          <button type="submit" class="btn btn-primary">REGISTRAR</button>
          </div>
      
      </div>

      
    </div>

      </form>
    </div>
 





 
      <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </div>
</body>
</html>